@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web');

/*
	Author: Jorge Gonzalez
	Date:	01.30.2019
	File: 	styles.css
*/

html {
	width: 100%;
	margin: 0;
}

/* Headers */
body h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}

/* Elements of the Body */
body {
	font-family: 'Titillium Web', sans-serif;
	/*background-image: linear-gradient(darkorange, orange, darkorange);*/
}

/* Elements of the Header */
body header h1 {
	text-align: center;
	color: orange;
	font-size: 230%;
}

/* Elements of the Nav */
body header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body header nav ul li {
	display: inline;
}

body header nav ul li a {
	text-decoration: none;
	padding: 0.35%;
	color: orange;
}

/* Elements of the About Section */
body #about {
	background: orange;
	color: white;
	text-align: center;
	margin: 5px 0px 5px 0px;
	padding: 10px 0px 30px 0px;
}

body #about:hover {
	background: tomato;
}

/* Elements of the Skills Section */
body #skills {
	background: orange;
	color: white;
	text-align: center;
	margin: 5px 0px 5px 0px;
	padding: 10px 0px 30px 0px;
}

body #skills:hover {
	background: tomato;
}

/* Elements of the Resume Section */
body #resume {
	background: orange;
	color: white;
	text-align: center;
	margin: 5px 0px 5px 0px;
	padding: 10px 0px 30px 0px;
}

body #resume a {
	text-decoration: none;
	color: white;
}

body #resume p {
}

body #resume:hover {
	background: tomato;
}

/* Elements of the Contact Section */
body #contact {
	background: orange;
	color: white;
	text-align: center;
	margin: 5px 0px 5px 0px;
	padding: 10px 0px 30px 0px;
}

body #contact form {
	width: 80%;
	margin: 0 auto;
}

body #contact form input {
	text-align: center;
}

body #contact form label, input, textarea {
	display: inline-block;
}

body #contact form label {
	width: 30%;
	text-align: right;
}

body #contact form label + input {
	width: 30%;
	margin: 0 30% 0 4%;
}

body #contact form textarea {
	width: 30%;
	margin: -2% 30% 0 4%;
}

body #contact:hover {
	background: tomato;
}

/* Elements of the Footer */
body footer {
	color: orange;
	text-align: center;
}